html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#mapid
{
    margin-left: 100px;
    margin-top: 100px;
    height: 500px;
    width: 1000px;
}
